:root{
    --orange:#dc8901;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: var(--preto);
    font-family: 'Roboto Flex', sans-serif;    
    text-align: center;
}

/*Cabeçalho*/

header .container{
    display: flex;
}

header .logo{
    color: var(--orange);
    font-size: 50px; 
    font-family: 'Arial Black';
}

.navbar-nav > li > a{
    text-decoration: none;
    margin-left: 20px;
    color: var(--orange);
    font-size: 20px;
}

.navbar-nav > li > a:hover{
    color: rgb(161, 105, 0);
}

header nav li{
    list-style: none;
    display: inline-flex;
}


/*slider principal*/

.carousel-item img{
    height: 80vh;   
    opacity: 0.8;
}

.carousel-caption h5{
    margin-bottom: 20px;
} 

.carousel-caption .btn{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.carousel-caption .btn:hover{
    background-color: white;
    color: black;
}


/* Animes principais */
.titulo{
    color: var(--orange);
    margin: 2%;
    font-size: 50px;
    font-family:'Koulen', cursive;
    text-align: center;
}

.btn i{
    margin-right: 10px;
}


.modal-content iframe {
    margin: 0 auto;
    display: block;
}
.modal-title {
    padding-top: 20px;
    text-transform: uppercase;
}

.modal-body p{
    text-align: left;
}

.modal-title{
    padding-left: 50px;
    padding-right: 50px;
}

.estrelas input[type=radio] {
    display: none;
}
.estrelas label i.fa{
    font-size: 2.5em
}
.estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}


/* lista de animes */

.owl-carousel{
    overflow: hidden;
    position: relative;
}

.box-anime{
    max-width: 100%;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    padding-left: 10px;
}

.box-anime:hover{
	-moz-transform: scale(1.1);
    opacity: 0.5;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    
} 

/* calendario */

.filter-btn-box{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.filter-btn {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: var(--orange);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 10%;
}

.filter-btn:hover{
    background-color: white;
    color: black;
}

.filter-btn.active{
    background-color: #F8F8FF;
    color: #141414;
}

#box{
	width: 100%;
    display: flex;
    justify-content: center;
}

.calendario-box img{
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 50px;
}