:root{
    --orange:#dc8901;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: var(--preto);
    font-family: 'Roboto Flex', sans-serif;    
}

/*Cabeçalho*/

header .container{
    display: flex;
}

header .logo{
    color: var(--orange);
    font-size: 50px; 
    font-family: 'Arial Black';
}

.navbar-nav > li > a{
    text-decoration: none;
    margin-left: 20px;
    color: var(--orange);
    font-size: 20px;
}

.navbar-nav > li > a:hover{
    color: rgb(161, 105, 0);
}

header nav li{
    list-style: none;
    display: inline-flex;
}


/*slider principal*/

.carousel-item img{
    height: 80vh;
}


/* Animes principais */
.titulo{
    color: var(--orange);
    margin: 2%;
    font-size: 50px;
    font-family:'Koulen', cursive;
}

.box-anime{
    height: 100%;
    width: 100%;
    display: block;
}

